#login-form {
   width: 100%;
   max-width: 300px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -150px;
   margin-top: -200px;
   letter-spacing: normal;
 }
 #login-form .login-fields input {
   margin: 0 0 20px;
 }
 .login-wrap {
   width: 250px;
   left: 50%;
   position: absolute;
   margin-left: -125px;
   top: 50%;
   margin-top: -200px;
 }