
$main_color: #006dc2;
$txt_color: #74747d;

$btn_hover: #00589c;
$btn_txt_color: #fff;

$bg_color: #eaeded;
$border_color: #ddd;

$invalid: #d92a36;
$warning: #ffa500;
$success: #008000;

$icon_url: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/images/ui-icons_222222_256x240.png';