{% extends "app.html" %}

{% block content %}
<center>
<div class="container-body">
   {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
         {% for category, message in messages %}
            <p class="flash-container {{ category }}">{{ message }}</p>
         {% endfor %}
      {% endif %}
   {% endwith %}
</div>
</center>
    <div class = "form-container">
      <div class = "route-container">
         <a href="{{url_for("sampling")}}" class="route-link">Sampling</a>
         <a href="{{url_for("scoping")}}" class="route-link" >Scoping Reconciliation</a>
      </div>
   </div>
    
{% endblock %}